*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 20px;
  background-color: #f7f7f9;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #344563;
}

ul {
  list-style: none;
}

header {
  padding: 10px 0;
  border-bottom-left-radius: 7%;
  background-color: white;
  margin-bottom: 50px;
  position: relative;
}

.nav-link {
  position: absolute;
  width: 100%;
  background-color: rgba(96, 112, 255, 1);
  mix-blend-mode: multiply;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 60px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  transition: all 0.6s ease-in;
  z-index: 100;
}

.hide-link {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.close-container {
  position: absolute;
  z-index: 200;
}

.toolbar-section a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.blur-logo {
  color: blue;
  filter: blur(10px);
}

.nav-link li > a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.header-nav > a:hover {
  color: blue;
}

.toolbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.blur-hamburger {
  cursor: pointer;
  color: blue;
  filter: blur(10px);
}

.header-hero-section {
  background: url(images/header-shapes\ mobile.png);
  background-size: cover;
  background-position: right 100% bottom 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
}

.blur-header {
  filter: blur(5px);
}

.hero-intro {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: rgba(23, 43, 77, 1);
}

.hero-desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 2rem;
  color: #344563;
  padding: 10px 0;
}

.hero-connect-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 15px 0;
}

.hero-icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.hero-icon-container img {
  width: 19px;
  height: 20px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work--section {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 7rem;
}

.first--child img {
  width: 100%;
}

.order-one {
  order: 1;
}

.order-two {
  order: 2;
}

.ul--list {
  display: flex;
  gap: 1.5rem;
  padding: 15px 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.see--project,
.get--button {
  background: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  outline: none;
  margin: 20px 0;
  color: #6070ff;
  padding: 15px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #7f8cff;
}

.see--project:hover,
.get--button:hover {
  border: 1px solid #7f8cff;
  border-radius: 8px;
  background: #6070ff;
  color: #fff;
}

.see--project:disabled,
.get--button:disabled {
  color: #5e6c84;
  background: #ffff;
  border: 1px solid #7f8cff;
}

.see--project:focus,
.get--button:focus {
  color: #fff;
  background: #2230d2;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.skill--list li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: hsla(234, 100%, 69%, 1);
}

.dropdown-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  gap: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.ul--list li:first-child {
  list-style: none;
  font-weight: 12px;
}

.ul--list li::marker {
  color: gray;
}

.skill--list {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 20px 0;
}

button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.parent--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.button button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.about--section {
  background-color: #fff;
  border-top-right-radius: 60px;
  padding: 100px 20px;
  overflow: hidden;
  width: 100%;
  margin: 3rem auto;
  margin-bottom: 0;
}

.about--section .about--text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  padding: 5px 0;
}

.about--section h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.about--section .hero-connect-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  padding: 7px 0;
}

.dropdown:not(:first-child) {
  padding: 15px 0;
  border-bottom: 1px solid #dfe1e6;
}

.dropdown p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown p > span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.dropdown-list li span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.dropdown img {
  width: 30px;
}

.contact--form {
  padding: 1rem;
}

.contact--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6070ff;
  background-image: url(./images/contact-bkground-icons.png);
  border-top-left-radius: 70px;
  padding-top: 103px;
  margin-bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-size: 207px;
  background-position: right 0% top 55%;
  background-repeat: no-repeat;
}

.contact--me {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.contact--paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 12px;
}

.contact--list {
  list-style: none;
}

.contact--input {
  padding: 5px 5px;
}

input {
  margin: 10px 0;
  border-radius: 8px;
  width: 100%;
  padding: 15px 16px;
  outline: none;
  border: none;
}

textarea {
  padding: 10px 16px;
  margin-top: 10px;
  height: 140px;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
}

.contact-button {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .header-hero-section {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 0 50px;
    height: 500px;
    filter: blur(0);
  }

  .parent--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .toolbar-hamburger {
    display: none;
  }

  .header-nav ul {
    display: flex;
    gap: 2rem;
  }

  .nav-link {
    position: unset;
    width: unset;
    background-color: unset;
    height: unset;
    padding: unset;
    flex-direction: row;
  }

  .close-container {
    display: none;
  }

  .nav-link li > a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .see--project,
  .get--button {
    background: #fff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    outline: none;
    margin: 5px 0;
    color: #6070ff;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #7f8cff;
  }

  .ul--list {
    display: flex;
    gap: 1.5rem;
    padding: 8px 0;
  }

  .skill--list {
    gap: 1rem;
    padding: 10px 0;
  }

  .about--section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 50px 40px;
  }

  .contact--section {
    background: #6070ff;
    background-image: url(./images/contact-bkground-icons.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left 40% top 50%;
  }

  .contact--form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact--paragraph {
    width: 450px;
    margin: auto;
  }

  .contact-button {
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .header-hero-section {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 0 200px;
    background: url(images/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    filter: blur(0);
  }

  .toolbar-section {
    width: 80%;
    margin: auto;
  }

  .toolbar-hamburger {
    display: none;
  }

  .header-nav ul {
    display: flex;
    gap: 2rem;
  }

  .see-break {
    display: none;
  }

  .Hamburger-logo {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .parent--one {
    margin-top: 5rem;
  }

  .about--section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 30px 180px 100px 140px;
  }

  .dropdown p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-list {
    display: flex;
    gap: 2rem;
  }

  .dropdown-list li {
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px;
  }

  .parent--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 24px;
  }

  .order-one {
    order: 2;
  }

  .order-two {
    order: 1;
  }

  .second--child {
    padding: 24px;
  }

  .logo {
    padding: 16px 143px;
  }

  .contact--section {
    background: #6070ff;
    background-image: url(./images/contact-bkground-icons.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left 40% top 50%;
  }

  .contact--form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact--paragraph {
    width: 450px;
    margin: auto;
  }
}
