@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.main-section {
  background-image: url(images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 600px;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.background-image {
  min-width: 100%;
  height: 10vh;
}

.Intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}
